*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body{
  padding: 80px;
  padding-bottom: 10px;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 0px 110px; 
  margin-bottom: 80px;
}
.top_text{
  font-family: Poppins;
  width: 20vw;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 40px;
  margin-bottom: 40px;
}

.team_card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team_card div{
  display: flex;
}
.card_drop{
  align-self: flex-end;
}
.name{
  font-family: Poppins;
  font-weight: bold;
}

.role{
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
img{
  width: 15vw;
}


a{
  color: grey;
  text-decoration: none;
}
footer{
  color: grey;
  display: flex;
  justify-content: center;
}